.header {
  background-image: url(../../../public/img/header2.jpeg);
  height: 180px;
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  &__button {
    width: 120px;
    height: 60px;
    padding: 20px;
    margin-top: 15px;
    margin-right: 15px;
    background-image: url(../../../public/img/Like.png);
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: transparent;
    border: none;
    color: #e66565;
    text-align: right;
    cursor: pointer;

    &--buy {
      width: 120px;
      height: 40px;
      padding: 20px;
      margin-top: 10px;
      background-image: url(../../../public/img/basket.png);
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: contain;
      background-color: transparent;
      border: none;
      color: #2546fd;
      text-align: right;
      cursor: pointer;
    }
  }
}
